In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Filter').getOrCreate()

22/09/29 15:03:30 WARN Utils: Your hostname, EKTAs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.100.4 instead (on interface en0)
22/09/29 15:03:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/29 15:03:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/29 15:03:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/09/29 15:03:30 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/09/29 15:03:30 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [2]:
df = spark.read.csv('Cricket.csv', header=True, inferSchema=True)
df.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Virat| 34|        10| 60000|
|   Rohit| 35|        13| 54000|
|  Pandya| 29|         5| 30000|
|   Panth| 25|         2| 20000|
|   Dhoni| 40|        19| 51000|
|   Rahul| 31|         6| 23000|
| Shubham| 23|         2| 17000|
|Ravindra| 39|         8| 87000|
+--------+---+----------+------+

# Filter operations

In [4]:
# Find out salary of the people less than or equal to 30000

df.filter('Salary<=30000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Pandya| 29|         5| 30000|
|  Panth| 25|         2| 20000|
|  Rahul| 31|         6| 23000|
|Shubham| 23|         2| 17000|
+-------+---+----------+------+

In [5]:
# Only selected column I want to see

df.filter('Salary<=30000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
| Pandya| 29|
|  Panth| 25|
|  Rahul| 31|
|Shubham| 23|
+-------+---+

In [7]:
# For applying 2 different filter operations

df.filter((df['Salary']<=30000) & (df['Salary']>=20000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Pandya| 29|         5| 30000|
| Panth| 25|         2| 20000|
| Rahul| 31|         6| 23000|
+------+---+----------+------+

In [9]:
df.filter((df['Salary']<=30000) | (df['Salary']>=20000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Virat| 34|        10| 60000|
|   Rohit| 35|        13| 54000|
|  Pandya| 29|         5| 30000|
|   Panth| 25|         2| 20000|
|   Dhoni| 40|        19| 51000|
|   Rahul| 31|         6| 23000|
| Shubham| 23|         2| 17000|
|Ravindra| 39|         8| 87000|
+--------+---+----------+------+

In [11]:
# inverse filter operation
df.filter(~(df['Salary']<=30000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Virat| 34|        10| 60000|
|   Rohit| 35|        13| 54000|
|   Dhoni| 40|        19| 51000|
|Ravindra| 39|         8| 87000|
+--------+---+----------+------+

22/09/29 16:47:37 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1034916 ms exceeds timeout 120000 ms
22/09/29 16:47:37 WARN SparkContext: Killing executors is not supported by current scheduler.