In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

22/09/29 15:24:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
df = spark.read.csv('Dept.csv', header=True, inferSchema=True)

In [4]:
df.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [5]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

# Groupby

In [7]:
# Find out who among all of them gets the maximum salary

df.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [8]:
# Which department gives maximum salary

df.groupby('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [9]:
df.groupby('Name').mean().show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [10]:
df.groupby('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df.groupby('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [14]:
## Another way - directly applying the aggregate function

df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

22/09/29 17:04:52 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 2065693 ms exceeds timeout 120000 ms
22/09/29 17:04:52 WARN SparkContext: Killing executors is not supported by current scheduler.