In [1]:
import pyspark

In [15]:
import pandas as pd

type(pd.read_excel('Cricket.xlsx'))

pandas.core.frame.DataFrame

## Starting a spark session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/09/29 10:39:28 WARN Utils: Your hostname, EKTAs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.100.4 instead (on interface en0)
22/09/29 10:39:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/29 10:39:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [8]:
# To read dataset using pyspark
df_pyspark = spark.read.csv('Cricket.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
| Virat| 34|
| Rohit| 35|
|Pandya| 29|
| Panth| 25|
| Dhoni| 40|
| Rahul| 31|
+------+---+

In order to get columns name as name and age instead of c0 and c1...

In [11]:
spark.read.option('header','true').csv('Cricket.csv').show()

+------+---+
|  Name|Age|
+------+---+
| Virat| 34|
| Rohit| 35|
|Pandya| 29|
| Panth| 25|
| Dhoni| 40|
| Rahul| 31|
+------+---+

In [12]:
# to save the above result in the variable
df_pyspark = spark.read.option('header','true').csv('Cricket.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Virat', Age='34'),
 Row(Name='Rohit', Age='35'),
 Row(Name='Pandya', Age='29')]

In [18]:
# similar to df.info() in pandas

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)